# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Learn how to use Markdowns
* Learn how to comment Code cells
* Learn how to do basic arithmetic

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Scikit-learn

| Data Science Tools |
|--------------------|
| Hadoop             |
| Apache Spark       |
| TensorFlow.js      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Cristian Casta√±eda